<%- include("partials/header"); -%>
   <body>
      <div id="container">
         <%- include("partials/navbar"); -%>
         <main>
            <h2>Contact Us</h2>
            <p><%=contact%></p>
         </main>
<%- include("partials/footer"); -%>
      
 