<%- include("partials/header"); -%>
   <body>
      <div id="container">
         <%- include("partials/navbar"); -%>
         <main>
            <h2>Home</h2>
            <p><%=home%></p>
         </main>
<%- include("partials/footer"); -%>
      
 